<table class="nav">
<tr>
    <td><a href="{{site.baseurl}}/2025/04/21/AP-Prep.html">AP Prep Home</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit1.html">Unit 1</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit2.html">Unit 2</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit3.html">Unit 3</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit4.html">Unit 4</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit5.html">Unit 5</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit6.html">Unit 6</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit7.html">Unit 7</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit8.html">Unit 8</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit9.html">Unit 9</a></td>
    <td><a href="{{site.baseurl}}/2025/04/21/Unit10.html">Unit 10</a></td>
</tr>
</table>