---
toc: false
layout: post
title: Verification
type: issues
permalink: /Verification
courses: {csa: {week: 1}}
---

### Creation of venv

![image](/NitinBstudent_2025/images/image11.png)

### Checking Python Version

![image](/NitinBstudent_2025/images/image10.png)

### Checking Bundle Version

![image](/NitinBstudent_2025/images/image12.png)

### Checking Ruby Version

![image](/NitinBstudent_2025/images/image13.png)
